.slideshow-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
}

button {
  /* position: absolute; */
  /* top: 50%;
  transform: translateY(-50%); */
  padding: 10px 20px;
  font-size: 16px;
  background-color: lightgray;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: gray;
  color: white;
}

#prev {
  left: 10px;
}

#next {
  right: 10px;
}
